# exclude
.vscode
*.pyc
code/__pycache__
code/.pytest_cache
code/archive
data/
gis/
log/
figures/*

# include select figures to put in README
!figures/burn_severity_map.png
!figures/backaz_and_heli_24.0-32.0Hz_20231007-16-00_20231007-21-00.png
!figures/backaz_and_heli_2.0-8.0Hz_20231006-15-00_20231007-02-00.png
